*.class
/out/
.mvn

### Maven ###
target/

### STS ###
.apt_generated
.factorypath
.settings
.project
.classpath
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.settings/
.project
.classpatch
.metadata
catalina.*

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### MAC System ###
.DS_Store
Thumbs.db

### Package File ###
*.jar
*.war
*.ear

### Temp File ###
*.log
*.cache
*.diff
*.patch
*.tmp
/logs/

lib
tomcat*



#kdiff3 ignore
*.orig





