<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 相当于注解@ComponentScan("com.zcy.spring.ioc.annotation") -->
    <context:component-scan base-package="com.zcy.spring.ioc.annotation"/>

    <!-- 相当于注解 @PropertySource("classpath:db.properties") -->
    <!-- <context:property-placeholder location="db.properties"/> -->


    <bean id="helloworld" class="com.zcy.spring.ioc.helloworld.HelloWorld"/>

    <bean id="person" class="com.zcy.spring.ioc._demo1.Person">
        <property name="name" value="Bruce"/>
        <property name="age" value="18"/>
        <property name="car">
            <bean class="com.zcy.spring.ioc._demo1.Car">
                <constructor-arg name="brand" value="Porsche"/>
                <constructor-arg name="price" value="1200000.26"/>
                <constructor-arg name="maxSpeed" value="340"/>
            </bean>
        </property>
    </bean>


    <!-- JSR的 注解装配-->
    <context:component-scan base-package="com.zcy.spring.ioc.jsr"/>


    <!--    <aop:config>-->
    <!--        <aop:aspect id="myAspect" ref="helloworld"/>-->
    <!--    </aop:config>-->


    <!-- ============= AOP基于XML配置 ====(com.zcy.spring.aop.demo1_xml)=====================-->
    <bean id="myAspect" class="com.zcy.spring.aop.demo1_xml.MyAspect"/>
    <bean id="businessClass" class="com.zcy.spring.aop.demo1_xml.BusinessClass"/>

    <aop:config>
        <aop:pointcut id="myPointcut" expression="execution(* com.zcy.spring.aop.demo1_xml.BusinessClass.biz(..))"/>
        <aop:aspect id="myAspectAOP" ref="myAspect">
            <aop:before method="before" pointcut-ref="myPointcut"/>
            <aop:after method="after" pointcut-ref="myPointcut"/>
            <aop:after-returning method="afterReturning" pointcut-ref="myPointcut"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="myPointcut"/>
            <aop:around method="around" pointcut-ref="myPointcut"/>
            <aop:around method="around2xml"
                        pointcut="execution(* com.zcy.spring.aop.demo1_xml.BusinessClass.init(String,int)) and args(name,times))"/>
        </aop:aspect>
    </aop:config>
    
    <!--    <aop:config>-->
    <!--        <aop:pointcut id="argsAround"-->
    <!--                      expression="execution(* com.zcy.spring.aop.demo1_xml.BusinessClass.init(String,int)) and args(name,times))"/>-->
    <!--        <aop:aspect id="newAspect" ref="myAspect">-->
    <!--            <aop:around method="around2xml" pointcut-ref="argsAround"/>-->
    <!--        </aop:aspect>-->
    <!--    </aop:config>-->
    <!-- ================================================================================-->


    <!-- ============ AOP基于@注解配置 ====(com.zcy.spring.aop.demo2_annotation)============-->
    <context:component-scan base-package="com.zcy.spring.aop"/>
    <aop:aspectj-autoproxy/>
    <!-- ================================================================================-->


    <!-- =========== Introduction ====(com.zcy.spring.aop.demo3_introduction_xml)===========
            允许一个切面，声明一个实现指定接口的通知对象，并且提供一个接口实现类来代表这些对象-->
    <bean id="businessClass3" class="com.zcy.spring.aop.demo3_introduction_xml.BusinessClass"/>
    <aop:config>
        <aop:aspect>
            <aop:declare-parents types-matching="com.zcy.spring.aop.demo3_introduction_xml.BusinessClass"
                                 implement-interface="com.zcy.spring.aop.demo3_introduction_xml.Fit"
                                 default-impl="com.zcy.spring.aop.demo3_introduction_xml.FitImpl"/>
        </aop:aspect>
    </aop:config>
    <!-- ================================================================================-->


</beans>